.title {
  margin: 0 auto;
  width: 100%;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    font-size: 22px;
    margin-top: 47px;
  }
}

.imageBox {
  margin: 0 auto;
  width: 450px;
  height: 450px;
  object-fit: contain;
  @media(max-width: 1500px) {
    width: 290px;
    height: 290px;
  }
  @media(max-width: 600px) {
    width: 200px;
    height: 200px;
  }
}