.qrBox {
  width: 100%;

  @media(max-width: 600px) {
    margin: 0 auto;
    width: 95%;
  }

  &__box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    // width: 350px;
    @media(max-width: 600px) {
      width: 100%;
    }
  }
}

.box {
  margin: 0 auto;
  width: 500px;
  height: auto;
  max-height: 500px;

  @media (max-width: 600px) {
    width: 350px;
    height: auto;
    max-height: 350px;
  }

  @media(max-width: 450px) {
    width: 280px;
    height: auto;
    max-height: 280px;
  }
}

.qrCodeBox {
  @media (max-width: 600px) {
    max-height: 200px;
  }
}