.listItem {
  min-width: 570px;
  @media (max-width: 600px) {
    min-width: 400px;
  }
  @media (max-width: 550px) {
    min-width: 400px;
  }
  @media (max-width: 450px) {
    min-width: 300px;
  }
  @media (max-width: 375px) {
    min-width: 250px;
  }

}

.emptyText {
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
